<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Status</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            background-color: #fff;
            padding: 20px 40px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h1 {
            color: #333;
        }
        .success {
            color: green;
        }
        .success span{
            color: rgb(0, 94, 255);
            font-weight: 700;
            font-size: 18px;
        }
        .error {
            color: #dc3545;
           
        }
        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            color: #007bff;
            text-decoration: none;
            border: 1px solid #007bff;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }
        a:hover {
            background-color: #007bff;
            color: #fff;
        }
        .icon {
            font-size: 50px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Email Status</h1>
        <% if (success) { %>
            <i class="icon fas fa-check-circle success"></i>
            <p class="success"><%= message %> to- <span> <%= email %></span></p>
        <% } else { %>
            <i class="icon fas fa-times-circle error"></i>
            <p class="error"><%= message %></p>
        <% } %>
        <a href="/">Go back to the form</a>
    </div>
</body>
</html>
